*{
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #fcffe7;
}

#logo-img{
    width: 4rem;
}

/*pop up display for userdetails*/
.display{
    background-color: rgba(55, 100, 130, 0.783);
    position: fixed;
    padding:1rem;
    width: 25rem;
    aspect-ratio: 1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.cancel-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}


#left-pane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #eb455f;
    border-radius: 8px;
    width: 30%;
    float: left;
}

#main-content {
    float: right;
    width: 70%;
}

.tasks li {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    list-style-type: none;
}

.task-details {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.task-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/*error message*/
#errors{
   color:#ffffff;
   text-align: center;
   background-color: #eb455f;
   margin-bottom: 1rem;
}


/*authentication render*/
#login, #signup{
    max-width: 40%;
    margin: auto;
}

#signup{
    display: none;
}

.btn-group{
    margin: auto;
}

.tasks {
    border: 1px solid black;
    
}


.task-details p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.close-task-details {
    background-color: #eb455f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
}

.addProjectBtn {
    border: 1px solid black;
    padding: 1px 5px;
    background-color: white;
    cursor: pointer;
}

/* List group */

.friend-list{
    list-style-type: none;
    text-align: left;
}

.friend-div{
    text-align: left;
}

.crossbox{
    color: #eb455f;
    cursor: pointer;
}

/* Notes render */
.note {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.add-button {
    position: absolute;
    margin: 10px;
    bottom: -50px;
    left: -10px;
    border: gray;
    border-radius: 5px;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    line-height: 1;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

.edit {
    position: absolute;
    top: 0;
    right: 70px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    line-height: 1;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

