*{
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #fcffe7;

}

#logo-img{
    width: 4rem;
}

/* full display */
#body-content{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    overflow-x: hidden;
    min-height: 100vh

}


#header-nav{
    grid-area:1/1/2/3 ;   
}

#lower-nav{
    grid-area: 2/2/3/3;
}

#main-content{
    grid-area: 3/2/4/3;
}

#left-pane {
    grid-area: 2/1/4/2;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    grid-template-rows: min-content min-content min-content;
    background-color:  #BAD7E9;
    width: 20rem;
    min-width: 260px;
    height:100%
}

#sortListByToday, #sortListByUpcoming, #renderNotesPage{
    color: white;
}


.nav-holder{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


/*pop up display for userdetails*/
.display{
    background-color: #BAD7E9;
    position: fixed;
    padding:1rem;
    width: 25rem;
    aspect-ratio: 1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.cancel-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: red
}





.tasks li {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    list-style-type: none;
}

.task-details {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.task-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.add-tasks-button{
    color: black;
    margin-left: 4px;
    cursor: pointer;
}

/* .delete-task-button{
    color: black;
    cursor: pointer;
} */
/*error message*/
#errors{
   color:#ffffff;
   text-align: center;
   background-color: #eb455f;
   margin-bottom: 1rem;
}

/*authentication render*/
#login, #signup{
    max-width: 40%;
    margin: auto;
}

#signup{
    display: none;
}

.btn-group{
    margin: auto;
}

/* tasks */
.tasks {
    border: 1px solid #F9D949;
    background-color:#fbfded;
    
}

.project-title{
    text-align: center;
}

.task-details{
    border: 1px solid #F9D949;
    background-color:#fbfded;

}
.task-details p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.close-task-details {
    background-color: #eb455f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
}

.task-div {
    position: relative;
}
  
.task-status {
    position: absolute;
    top: 0;
    right: 0;
}

.task-name{
    cursor: pointer;
    
    border: solid 1px #F9D949;
    padding: 10px;
    margin-left: -17px;
    width: fit-content;
    background-color:#F9D949;
    font-size: 15px;
}

.task-name:hover{
    cursor: pointer;
    color: white;
}

.add-project-btn {
    cursor: pointer;
}

/* List group */
.friend-list{
    list-style-type: none;
    text-align: left;
}

.friend-div{
    text-align: left;
}

.crossbox{
    color: #eb455f;
    cursor: pointer;
}

#collaboratorsFormField {
    display: none;
    
}

#listOfCollaborators{
    max-height: 80px;
    overflow: auto;
    border: 2px solid white;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

/* Notes render */
.note, .no_note {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #F9D949;
    background-color: #fbfded;
}

.note_title {
    cursor: pointer;
    color: #fbfded;
    border: solid 1px #F9D949;
    padding: 10px;
    margin-left: -17px;
    width: fit-content;
    background-color:#2B3467;
}

.note_title:hover{
   background-color: #eb455f;
}

.description, .creationDate {
    font-size: smaller;
    color: #2B3467;
}

.fa-trash {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    cursor: pointer;
}

.fa-pen-to-square {
    position: absolute;
    top: 0;
    left: 90px;
    margin: 10px;
    cursor: pointer;
}

.add-button {
    position: absolute;
    margin: 10px;
    bottom: -50px;
    left: -10px;
    border: gray;
    border-radius: 5px;
    cursor: pointer;
}

.category-heading{
    font-weight: 900;
    font-size: 18px;
    margin-left: 10px;
    color: black
}


.project-name:hover{
    cursor: pointer;
    color: #EB455F;
    
}

.project-name{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.project-edit-button{
    cursor: pointer;
    margin-right: 0px;
}

.project-edit-button:hover{
    color: #EB455F;
    cursor: pointer;
}

.project-list-item{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    margin-bottom: 1rem;
}

.fa-square-plus:hover{
    color: #EB455F;
}

/* render comments */

.comment-div {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #dee1cb;
    background-color: #fbfded;
}

.kanban {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content(150px) 1fr;
}

.kanban .tasks {
    grid-column: 1 / 4;
}

.kanban h1 {
    font-size: 22px;
}

#to-do-div, #in-progress-div, #completed-task-div {
    border: 3px solid grey;
    border-radius: 10px;
    margin: 5px;
}

#to-do-div-ul li, #in-progress-div-ul li, #completed-tasks-div-ul li {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 5px;
    list-style: none;

.creationDate-comment, .author-comment {
    font-size: smaller !important;

}